header {
  background-color: #666;

  height: 64px;
  width: 100%;

  text-align: center;
  font-size: 35px;
}

main {
  padding: 46px 16px;
}

.main-banner {
  display: flex;
  flex-direction: column;
  row-gap: 46px;
}

.firstbox {
  background-color: aqua;

  height: auto;
  width: calc(100% - 32px);

  padding: 16px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.seccondbox {
  display: flex;
  justify-content: center;
  align-items: center;

  background: blue;

  width: 100%;
}
