@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: linear-gradient( to top, #A4E9F9, #C5AEF2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 

}

header{
  /* From https://css.glass */
  background: black;
border-radius: 0px 0px 16px 16px;

backdrop-filter: blur(4.7px);
-webkit-backdrop-filter: blur(4.7px);

border: 1px solid rgba(255, 184, 236, 0.34);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

}

.maincenter{
/* From https://css.glass */
  background: rgba(0, 0, 0, 0.598);
  border-radius: 16px;
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 184, 236, 0.34);
  
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: static;

  margin: 100px 30px;
  padding: 75px 75px;

  width: 100%;
  height: 1000px;

  display: flex;
  gap: 12px;
}

.firstInfoBox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #FFFBFE;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 13px;
  padding: 2%;
  box-sizing: 640px;
  width: 45%;
  height: 200px;
  gap: 20px;

}

.seccondInfoBox{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #FFFBFE;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 13px;
  padding: 2%;

  width: 500px;
  height: 500px;
  
}

.defaultFont{
  color:#000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.buttonStyle{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #FFFBFE;
  padding: 10px 50px;
  margin-bottom: 20px;
  border: 2px solid #6750A4;
  border-radius: 8px;
  background-color: #6750A4;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}


.logo{
  font-size: 2em;
  color: #FFFBFE;
  user-select: none;
}

.navigation{
  position: relative;
  font-size: 1.1em;
  color: #FFFBFE;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.imgmask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.test{
  color: red;
}



/* header {
  background-color: #666;

  height: 64px;
  width: 100%;

  text-align: center;
  font-size: 35px;
}

main {
  padding: 46px 16px;
}

.main-banner {
  display: flex;
  flex-direction: column;
  row-gap: 46px;
}

.firstbox {
  background-color: aqua;

  height: auto;
  width: calc(100% - 32px);

  padding: 16px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.seccondbox {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: blue;
  color: aliceblue;

  padding: 16px;

  width: auto;
  height: 350px;

}

.campoTexto {

}
.textStyle {
  color: blueviolet;
}

.circulo {
  background: darkred;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.break-row{
  flex-basis: 100%;
  height: 0;
}

.break-colum{
  flex-basis: 100%;
  width: 0;
}
 */